<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.2.0" targetFramework="net472" />
  <package id="Autofac.Extras.Quartz" version="7.1.0" targetFramework="net472" />
  <package id="AutofacSerilogIntegration" version="5.0.0" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" targetFramework="net472" />
  <package id="Quartz" version="3.3.2" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Topshelf" version="4.3.0" targetFramework="net472" />
  <package id="Topshelf.Autofac" version="4.0.1" targetFramework="net472" />
  <package id="Topshelf.Quartz" version="0.4.0.1" targetFramework="net472" />
  <package id="Topshelf.Serilog" version="4.3.0" targetFramework="net472" />
  <package id="TopShelf.ServiceInstaller" version="4.3.0" targetFramework="net472" />
</packages>